In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Pandas Series
s=pd.Series([1,2,3,4,5,6,7,8],dtype='int32')
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int32

In [ ]:
# Pandas Dataframe
marks=pd.DataFrame(np.random.randint(32,80,size=(10,4)),columns=['DSD','SS','EDC','EIC'],index=np.arange(1,11))
marks

    DSD  SS  EDC  EIC
1    37  59   49   77
2    72  65   54   35
3    46  49   33   65
4    63  56   73   66
5    51  44   75   54
6    54  71   69   47
7    43  70   67   42
8    33  78   57   56
9    51  64   69   53
10   76  47   56   70

In [ ]:
# Pandas Dataframe using dictionary
df=pd.DataFrame({'Name':['Shubham','Sunit','Shreyas'],
                 'Branch':['EXTC','EXTC','IT'],
                 'Percentage':np.random.randint(60,90,size=3)},index=np.arange(1,4))
print(df,'\n\n')

df

      Name Branch  Percentage
1  Shubham   EXTC          64
2    Sunit   EXTC          62
3  Shreyas     IT          80

      Name Branch  Percentage
1  Shubham   EXTC          64
2    Sunit   EXTC          62
3  Shreyas     IT          80

In [ ]:
#To view datatypes of your dataset
df.dtypes

Name          object
Branch        object
Percentage     int64
dtype: object

In [ ]:
#To display the first 5 rows of your dataset
marks.head()

   DSD  SS  EDC  EIC
1   37  59   49   77
2   72  65   54   35
3   46  49   33   65
4   63  56   73   66
5   51  44   75   54

In [ ]:
#To display the last 5 rows of your Dataset
marks.tail()

    DSD  SS  EDC  EIC
6    54  71   69   47
7    43  70   67   42
8    33  78   57   56
9    51  64   69   53
10   76  47   56   70

In [ ]:
#To know the indexing of your Dataset
df.index

Int64Index([1, 2, 3], dtype='int64')

In [ ]:
#To know the column names of your Dataset
df.columns

Index(['Name', 'Branch', 'Percentage'], dtype='object')

In [ ]:
#To convert your Pandas dataset to Numpy arrays
marks.to_numpy()

array([[37, 59, 49, 77],
       [72, 65, 54, 35],
       [46, 49, 33, 65],
       [63, 56, 73, 66],
       [51, 44, 75, 54],
       [54, 71, 69, 47],
       [43, 70, 67, 42],
       [33, 78, 57, 56],
       [51, 64, 69, 53],
       [76, 47, 56, 70]])

In [ ]:
#To know some basic stats about your dataset
marks.describe()

             DSD         SS        EDC        EIC
count  10.000000  10.000000  10.000000  10.000000
mean   52.600000  60.300000  60.200000  56.500000
std    14.151561  11.294541  12.976903  13.108521
min    33.000000  44.000000  33.000000  35.000000
25%    43.750000  50.750000  54.500000  48.500000
50%    51.000000  61.500000  62.000000  55.000000
75%    60.750000  68.750000  69.000000  65.750000
max    76.000000  78.000000  75.000000  77.000000

In [ ]:
#Sorting values in dataset
print(marks.columns[2])
marks.sort_values(by='DSD',ascending=False)

EDC

    DSD  SS  EDC  EIC  Internals  Percentage
10   76  47   56   70         18   78.529412
2    72  65   54   35         19   72.058824
4    63  56   73   66         18   81.176471
6    54  71   69   47          9   73.529412
5    51  44   75   54         16   70.588235
9    51  64   69   53         10   72.647059
3    46  49   33   65         14   60.882353
7    43  70   67   42         18   70.588235
1    37  59   49   77         17   70.294118
8    33  78   57   56         13   69.705882

In [ ]:
#Basic Slicing of the Dataset
#Slice a particular column
print(marks['DSD'],'\n\n')

#Slice a particular row
print(marks.loc[4],'\n\n')

#Slice set of rows
print(marks[1:4],'\n\n')

#Slice rows of a column
print(marks['DSD'][2:8])

1     37
2     72
3     46
4     63
5     51
6     54
7     43
8     33
9     51
10    76
Name: DSD, dtype: int64


DSD    63
SS     56
EDC    73
EIC    66
Name: 4, dtype: int64


   DSD  SS  EDC  EIC
2   72  65   54   35
3   46  49   33   65
4   63  56   73   66


3    46
4    63
5    51
6    54
7    43
8    33
Name: DSD, dtype: int64

In [ ]:
#Slicing rows and columns using .loc[] and .iloc[]
print(marks.loc[4:9,'SS':'EIC'],'\n\n')
print(marks.loc[[1,2,9],['SS','EIC']],'\n\n')

#iloc is indexed location
print(marks.iloc[3:7,1:4])

   SS  EDC  EIC
4  56   73   66
5  44   75   54
6  71   69   47
7  70   67   42
8  78   57   56
9  64   69   53


   SS  EIC
1  59   77
2  65   35
9  64   53


   SS  EDC  EIC
4  56   73   66
5  44   75   54
6  71   69   47
7  70   67   42

In [ ]:
good_marks=marks[(marks['DSD']>60) & (marks['EDC']>60)]
good_marks

   DSD  SS  EDC  EIC
4   63  56   73   66

In [ ]:
# Dealing with missing values

marks_gt_40=marks[marks>=40]
print(marks_gt_40,'\n\n')

print(marks_gt_40.isna(),'\n\n')

print(marks_gt_40.dropna(),'\n\n')

marks_gt_40.fillna(value=50)

     DSD  SS   EDC   EIC
1    NaN  59  49.0  77.0
2   72.0  65  54.0   NaN
3   46.0  49   NaN  65.0
4   63.0  56  73.0  66.0
5   51.0  44  75.0  54.0
6   54.0  71  69.0  47.0
7   43.0  70  67.0  42.0
8    NaN  78  57.0  56.0
9   51.0  64  69.0  53.0
10  76.0  47  56.0  70.0


      DSD     SS    EDC    EIC
1    True  False  False  False
2   False  False  False   True
3   False  False   True  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8    True  False  False  False
9   False  False  False  False
10  False  False  False  False


     DSD  SS   EDC   EIC
4   63.0  56  73.0  66.0
5   51.0  44  75.0  54.0
6   54.0  71  69.0  47.0
7   43.0  70  67.0  42.0
9   51.0  64  69.0  53.0
10  76.0  47  56.0  70.0

     DSD  SS   EDC   EIC
1   50.0  59  49.0  77.0
2   72.0  65  54.0  50.0
3   46.0  49  50.0  65.0
4   63.0  56  73.0  66.0
5   51.0  44  75.0  54.0
6   54.0  71  69.0  47.0
7   43.0  70  67.0  42.0
8   50.0  78  57.0  56.0
9   51.0  64  69.0  53.0
10  76.0  47  56.0  70.0

In [ ]:
# Popular operations on the dataset
#marks.min()
#marks.apply(lambda x:x.max()-x.min())
#marks.apply(np.cumsum)
Internals=np.random.randint(8,20,size=[len(marks)])
marks['Internals']=Internals
marks

    DSD  SS  EDC  EIC  Internals
1    37  59   49   77         17
2    72  65   54   35         19
3    46  49   33   65         14
4    63  56   73   66         18
5    51  44   75   54         16
6    54  71   69   47          9
7    43  70   67   42         18
8    33  78   57   56         13
9    51  64   69   53         10
10   76  47   56   70         18

In [ ]:
Percentage=np.zeros(10)
for i in range(0,len(marks)):
  Percentage[i]=marks.iloc[i,0]+marks.iloc[i,1]+marks.iloc[i,2]+marks.iloc[i,3]+marks.iloc[i,4]
Percentage/=340 #4*80+20
Percentage*=100
marks['Percentage']=Percentage
marks

    DSD  SS  EDC  EIC  Internals  Percentage
1    37  59   49   77         17   70.294118
2    72  65   54   35         19   72.058824
3    46  49   33   65         14   60.882353
4    63  56   73   66         18   81.176471
5    51  44   75   54         16   70.588235
6    54  71   69   47          9   73.529412
7    43  70   67   42         18   70.588235
8    33  78   57   56         13   69.705882
9    51  64   69   53         10   72.647059
10   76  47   56   70         18   78.529412